img {
  width: 66%;
  position:inherit;
  bottom: 0%;

}
.container2 {
  justify-content: center;
  display: flex;
  direction: column;
  font-size: 22px;
}
.social {
  position: absolute;
  left: 40%;
}
.socials:hover {
  background-color: rgb(240, 233, 240);
}
@media (max-width: 767px) {
  .container2 {
    color: black;
    font-size: inherit;
    width: 100vw;
    height: 100vw;
    padding: 0;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .p {
    font-size: 22px;
  }
  .img {
    width: 80%;
    height: 60%;
    margin: 0;
    padding: 0;
    display: center;
    position: absolute;
    left: 50px;
    top: 95%;
  }
  .social {
    position: absolute;
    left: 20%;
    top: 85%;
  }
}
@media (max-width: 400px) {
  .container2 {
    color: black;
    font-size: inherit;
    width: 100vw;
    height: 100vw;
    padding: 0;
  }
  .p {
    font-size: 22px;
  }
  .img {
    width: 80%;
    height: 60%;
    margin: 0;
    padding: 0;
    display: center;
    position: absolute;
    left: 50px;
    top: 146%;
  }
  .social {
    padding: 0;
    top: 130%;
  }
}
