.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px;

}
.image{
  /* background-color: red; */
  text-align: right;
  width: 50vw;

}

.imge{
  width: 900px;

}
.center{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.name{
  font-size: 70px;
  color: #FF8E60;
  /* padding-right: 80% */
}
.title{
  font-size: 40px;
  color: #292E46;
}
.parr{
  font-size: 20px;
}
.information{
  /* display: 'flex'; */
  /* position: 'left'; */
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  margin-top: 15%;
  width: 50vw;
  /* position: absolute;                */
  /* top: 50%;                          */
   /* transform: 'translate(0, -50%)'  */

}



@media only screen and (max-width: 768px) {
  .App {
  width: 100vw;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  }
  .center{
    display: grid;
    direction: row;
    /* width: 0px; */
  }
  .name{
    font-size: 30px;
    position: center;
  }
  .title{
    font-size: 20px;
  }
  .imge{
    width: 100vw;
    height: auto;
    display: space-around;
    /* position: align-self; */

  }
}


.arrow{
  /* display: none; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 767px) {
  .App{
    flex: auto;
    display: flex;
    margin:0;
    align-items: left;
    height: 100vw;

  }
  .imge{
    width: 100vw;
    

  }
  
}
@media (max-width: 400px) {
  
}
